body {
   margin: 0%;
   padding: 0%;
}

#bannerColumn {
   background-image: url("camping_pic.png");
   background-size: cover;
   height: 100%;
}

#bannerRow {
   height: 100%;
}

#banner {
   height: 200px;
   width: 100%;
}