body {
   margin: 0%;
   padding: 0%;
}

#bannerColumn {
   height: 100%;
}

#bannerRow {
   height: 100%;
}

#banner {
   height: 500px;
   width: 100%;
   padding: 0%;
}

#info, #intro {
   padding-top: 20px;
}

.hero-image {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("camping_pic.png");
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.hero-text {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
}