body {
   margin: 0%;
   padding: 0%;
}

.col-lg-12 {
   background-image: url("camping_pic.jpg");
   background-size: cover;
   height: 100%;
}

.row {
   height: 100%;
}

.container-fluid {
   height: 200px;
   width: 100%;
}